<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.i12368.dao.IPiUserinfoPhoneMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.i12368.entity.PiUserinfoPhone">
        <id column="ID" property="id" />
        <result column="PUID" property="puid" />
        <result column="InfosSource" property="InfosSource" />
        <result column="Phone" property="Phone" />
        <result column="AddTime" property="AddTime" />
        <result column="Flag" property="Flag" />
        <result column="LastUseTime" property="LastUseTime" />
        <result column="LastUseResult" property="LastUseResult" />
        <result column="UseCount" property="UseCount" />
        <result column="Remark" property="Remark" />
    </resultMap>

</mapper>
